@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--ghost-500);
  --color-foreground: var(--cadet-500);
  --color-primary: var(--bleu-500);
  --color-primary-foreground: var(--white-500);
  --color-secondary: var(--cadet-500);
  --color-secondary-foreground: var(--ghost-500);
  --color-accent: var(--bleu-100);
  --color-accent-foreground: var(--cadet-500);
  --color-muted: var(--ghost-600);
  --color-muted-foreground: var(--cadet-700);

  --color-card: var(--white-500);
  --color-card-foreground: var(--cadet-500);

  --color-popover: var(--white-500);
  --color-popover-foreground: var(--cadet-500);

  --color-sidebar: var(--white-500);
  --color-sidebar-foreground: var(--cadet-500);
  --color-sidebar-primary: var(--bleu-500);
  --color-sidebar-primary-foreground: var(--white-500);
  --color-sidebar-accent: var(--ghost-400);
  --color-sidebar-accent-foreground: var(--cadet-400);
  --color-sidebar-ring: var(--bleu-300);
  --color-sidebar-border: var(--ghost-400);

  --color-chart-5: var(--bleu-500);
  --color-chart-4: var(--shimmer-500);
  --color-chart-3: var(--cadet-500);
  --color-chart-2: var(--bleu-300);
  --color-chart-1: var(--bleu-700);

  --color-ring: var(--bleu-400);
  --color-input: var(--ghost-300);
  --color-border: var(--ghost-400);
  --color-destructive: var(--shimmer-500);

  /* Radiuses */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;

   /* fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* bleu_de_france */
  --bleu-100: #081a2e;
  --bleu-200: #10355c;
  --bleu-300: #184f8b;
  --bleu-400: #1f6ab9;
  --bleu-500: #3083dc;
  --bleu-600: #5b9de3;
  --bleu-700: #84b5ea;
  --bleu-800: #adcef1;
  --bleu-900: #d6e6f8;

  /* space_cadet */
  --cadet-100: #0b0c10;
  --cadet-200: #161821;
  --cadet-300: #212331;
  --cadet-400: #2d2f42;
  --cadet-500: #383b53;
  --cadet-600: #565b7e;
  --cadet-700: #7a7fa5;
  --cadet-800: #a6aac3;
  --cadet-900: #d3d4e1;

  /* bittersweet_shimmer */
  --shimmer-100: #290b0f;
  --shimmer-200: #51171e;
  --shimmer-300: #7a222d;
  --shimmer-400: #a22e3b;
  --shimmer-500: #c83e4d;
  --shimmer-600: #d36370;
  --shimmer-700: #de8a94;
  --shimmer-800: #e9b1b8;
  --shimmer-900: #f4d8db;

  /* ghost_white */
  --ghost-100: #232340;
  --ghost-200: #464680;
  --ghost-300: #7575b3;
  --ghost-400: #b5b5d6;
  --ghost-500: #f4f4f9;
  --ghost-600: #f7f7fb;
  --ghost-700: #f9f9fc;
  --ghost-800: #fbfbfd;
  --ghost-900: #fdfdfe;

  /* white */
  --white-100: #333333;
  --white-200: #666666;
  --white-300: #999999;
  --white-400: #cccccc;
  --white-500: #ffffff;

}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
